<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            background-image: url("/Images/DefaultPage.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    </style>
</head>
<body>
    <!--
    <div class="container">
        <h1 style="color: #a62b4a;">Welcome to the MyEmployee Portal</h1>
        <p></p>
    </div>
    -->
</body>
</html>

